@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bubblegum';
  src: local('Bubblegum'), url(./fonts/BubblegumSans-Regular.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3{
    @apply text-2xl;

  }
  h4{
    @apply text-xl;
  }
  h5{
    @apply text-lg;
  }
  

body {
  margin: 0;
  font-family: 'Bubblegum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

}
